/* the styles for the HTML elements */
body {
    margin-top: 0;
    background-color: lightsteelblue;
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
    text-align: center;
    color: navy;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
    color: navy;
}

ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
}
li {
    margin: 0;
    padding: 0;
}

ul.nav {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

ul.nav li {
    padding-bottom: 0.5em;
}

a {
    color: rgb(69, 85, 106);   
    font-weight: bold;
    
}
a:hover {
    color: blue;
}

table {
    border: 1px solid navy;
    border-collapse: collapse;
}
td, th {
    border: 1px solid navy;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
}
form {
    margin: 0;
}
br {
    clear: left;
}


header {
    margin: 0;
    margin-bottom: 1em;
    border-bottom: 2px solid rgb(119, 75, 77);
    padding: .5em 2em;
}
header h1 {
    margin: 0;
    padding: .5em 0;
    color: black;
}
main {
    margin: 0;
    padding: .5em 2em;
    width: 760px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid rgb(119, 75, 77);
}

aside {
    float: left;
    width: 150px;
}

#content {
    float: left;
    width: 500px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
#left_column {
    float: left;
    width: 150px;
    padding-left: 1.5em;
}
#right_column {
    float: left;
    padding-left: 1em;
}
footer {
    clear: both;
    margin-top: 1em;
    padding-right: 1em;
    border-top: 2px solid rgb(119, 75, 77);
    
}
footer p {
    text-align: center;
    font-size: 80%;
    margin: 1em 0;
}

.right {
    text-align: right;
}

/********************************************************************
* Additional styles for the Product Manager application
********************************************************************/
#align_me {
    margin: .5em 0 2em;
}
#align_me label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#align_me input {
    float: left;
}
#align_me input[text] {
    width: 15em;
}

#align_me input[button] {
    width: 15em;
}